@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        @{
            for (int i = 0; i < 3; i++)
            {
                <div class="row row-cols-10">
                    @{
                        for (int x = 0; x < 2; x++)
                        {
                            <div class="col ">
                                <img src="https://i.pinimg.com/750x/90/76/df/9076dfc943e8963b5b12bb2ddc7518cf.jpg" alt="IMAGES" class="img-fluid" />
                            </div>
                            <div class="col">
                                <img src="~/asset/fox.jpg" class="img-fluid" />
                            </div>
                            <div class="col">
                                <img src="~/asset/dog.jpg" class="img-fluid" />
                            </div>
                            <div class="col">
                                <img src="~/asset/pig.jpg" class="img-fluid" />
                            </div>
                            <div class="col">
                                <img src="~/asset/fox.jpg" class="img-fluid" />
                            </div>
                        }
                    }
                </div>
            }
        }

    </div>


</div>
